[Unit]
Description=Flocker Control
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill flocker-control-service
ExecStartPre=-/usr/bin/docker rm flocker-control-service
ExecStartPre=-/usr/bin/docker rm flocker-control-volume
ExecStartPre=/usr/bin/docker pull clusterhq/flocker-control-service
ExecStartPre=-/usr/bin/docker run --name=flocker-control-volume -v /var/lib/flocker clusterhq/flocker-control-service true
ExecStart=/usr/bin/docker run --name=flocker-control-service --net=host -v /etc/flocker:/etc/flocker --volumes-from=flocker-control-volume clusterhq/flocker-control-service
ExecStop=/usr/bin/docker stop flocker-control-service
Restart=on-failure
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target