[Unit]
Description=Flocker Container Agent
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill flocker-container-agent
ExecStartPre=-/usr/bin/docker rm flocker-container-agent
ExecStartPre=/usr/bin/docker pull clusterhq/flocker-container-agent
ExecStart=/usr/bin/docker run --privileged=true --name flocker-container-agent --net=host -v /etc/flocker:/etc/flocker -v /var/run/docker.sock:/var/run/docker.sock clusterhq/flocker-container-agent
ExecStop=/usr/bin/docker stop flocker-container-agent
Restart=on-failure
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
